{% extends 'base.html.twig' %}

{% block title %}Globe Trek | Agence de voyage sur-mesure | Voyages en groupe{% endblock %}

{% block body %}

    <div class="container-fluid img-fond  d-flex align-items-center">
        <div class="container ">
            <h1 class="text-over">Pars avec des inconnus, reviens avec de vrais amis.</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="zxh2">Nos bests-sellers</h2>
                </div>
                <div class="col-md-12">
                    <div class="row mb-5">
                    {% for post in posts %}
                        <div class="col-md-4 pt-4">
                            <div class="image1">
                                <a href="{{path('show', {id:post.id, slug: post.slug})}}">
                                    <img src="{{asset('divers/images/' ~ post.image1)}}" class="img-fluid" alt="" style="height: 230px;"><h3 class="text-img">{{post.title}}</h3>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="zxtitre">Contactez-nous !</h2>
                </div>
                <div class="col-md-12">
                    <p>Besoin de renseignements ou d'un devis personnalisé? N'hésitez pas à nous contacter et nos conseillers seront ravis de pouvoir vous aider de votre recherche.</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 p-5">
                            <img class="img-fluid rounded" src="{{asset('/divers/images/amazonie.jpg')}}" alt="">
                        </div>
                        <div class="col-md-6">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
