.showLink{
    color: #21005D;
    text-decoration: none;
    font-size: 1.2em;
}

.showLink:hover{
    color:#017eb0;
}

.showTitle{
    font-size: 3.2em;
    color: #21005D;
    font-weight: bold;
}

.showSubtitle{
    color: #21005D;
    font-weight: 300;
    font-size: 1.4em;
}

.showText{
    font-size: 1.1em;
    text-align: justify;
}

.showSubtitle{
    color:#21005D;
    font-size: 1.5em;
    font-weight: 650;
}

.line{
    border-bottom: 1px solid black;
}

label{
    font-size: 1.1em;
}

.submitBtn{
    background-color: #1C1C68;
    color: #FFF;
    font-weight:200;
    transition: transform .1s;
}

.submitBtn:hover{
    transform: scale(1.1);
    background-color:#00AEF3;
    color: #FFF;
}

.roundedAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.loginLink{
    color: #1C1C68;
    text-decoration: none;
}

.loginLink:hover{
    font-weight: bold;
}

.contactUs{
    text-align: center;
    margin: 60px;
}

#priceInput{
    font-size: 1.7em;
    color: #1C1C68;
}

@media screen and (max-width: 1199px){
    .radio{
        display: flex;
        flex-direction: column;
    }
    .submitBtn{
        font-size: 1em;
    }
}


@media screen and (max-width: 991px){
    .contactUs{
        font-size: 0.9em;
        margin: 0;
    }
    #priceInput{
        font-size: 1.4em;
    }
}

@media screen and (max-width: 769px){
    .reservCont{
        display: flex;
        justify-content: center;
        margin-left: 0;
        padding-left: 0;
        padding-top: 20px;
    }
    .form-check{
        display: flex;
        justify-content: center;
    }
    .submitBtn{
        margin-bottom: 20px;
    }
    .showTitle{
        font-size: 2.5em;
    }
    .showSubtitle{
        font-size: 1.2em;
        font-weight: 550;
    }
}

@media screen and (max-width: 575px){
    .showTitle{
        font-size: 2em;
    }
    .showSubtitle{
        font-size: 1em;
        font-weight: 450;
    }
    .showText{
        font-size: 0.9em;
    }
    .form-check{
        display: flex;
        justify-content: center;
        padding-right: 35px;
    }
    .reservCont{
        padding-top: 20px;
    }
    #priceInput{
        margin-right: 17px;
    }
    .submitBtn{
        margin-right: 27px;
    }
    .questions{
        margin-right: 30px;
    }
}