<footer class="zxfooter text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <img class="zximg img-fluid" src="{{asset('divers/images/logoSansFond.png')}}" alt="">
  </div>
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-5">
      <!-- Facebook -->
      <a
      data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Youtube -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #FF0000;"
        href="#!"
        role="button"><i class="fa-brands fa-youtube"></i></a>
      
    </section>
    <!-- Section: Social media -->
  </div>
  <div class="container p-4 mb-2" style ="background-color:#FDA720; border-radius: 20px;"> 
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mt-2">Pourquoi nous rejoindre ?</h5>

        <p style="text-align: justify;padding: 10px 93px 0px 93px;">
          Parce qu'on dégotte les plus belles expériences de voyage à partager avec un petit groupe: convivialité et authenticité serint au rendez-vous !
          Et comme vous pouvez échangez avec les autres voyageurs, vous êtes presque amis avant de partir !
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mt-2">Siège social</h5>
          <p>Globe trek <br> 133 rue des Antilles <br> 69000 LYON CEDEX <br>+33 2 49 85 12 97</p>
          
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mt-2">Destinations</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="nav-link">Amérique</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Afrique</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Europe</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Océanie</a>
          </li>
           <li>
            <a href="#!" class="nav-link">Asie</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3">
    <a class="nav-link" href="https://mdbootstrap.com/" style="font-size: 0.8em;">© 2024 Copyright:   Globe Trek - Site réalisé par Alicia Heraud dans le cadre de son passage au titre professionnel DWWM</a>
  </div>
  <!-- Copyright -->
</footer>