<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid zxlogo" src="{{asset('/divers/images/grandLogoOrange.png')}}" alt="">
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <nav class="navbar navbar-expand-lg ">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link ps-5" href="#">AMÉRIQUE</a>
                            <a class="nav-link ps-5" href="#">AFRIQUE</a>
                            <a class="nav-link ps-5" href="#">EUROPE</a>
                            <a class="nav-link ps-5" href="#">OCÉANIE</a>
                            <a class="nav-link ps-5" href="#">ASIE</a>
                            <a class="nav-link ps-5" href="#contact">CONTACT</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-3 d-flex justify-content-end align-items-center">
                <a class="nav-link" href="{{path('app_login')}}">CONNEXION &emsp;<i class="fa-regular fa-circle-user"></i></a>
            </div>
        </div>
    </div>
</div>